body, html {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
}

#content_wrapper, #minimap_wrapper, #minimap_content_wrapper {
  display: flex;
}

#content_wrapper, #minimap_content_wrapper {
  flex-wrap: wrap;
}

#content_wrapper {
  box-sizing: content-box;
  padding: 5vh 5vw;
  position: absolute;
  width: 300vw;
}

#content_wrapper svg {
  height: auto;
  width: 100%;
}

#content_wrapper svg path[id], #content_wrapper svg path[class], #content_wrapper svg path[name] {
 cursor: pointer;
}

#content_wrapper svg path[id].highlighted, #content_wrapper svg path[class].highlighted, #content_wrapper svg path[name].highlighted {
  fill: rgb(115, 117, 195);
}

#minimap_wrapper {
  background-color: rgb(115 117 195 / 80%);
  border: 1px solid #808080;
  border-radius: 3px;
  bottom: 1vh;
  box-sizing: content-box;
  left: 1vh;
  position: fixed;
  width: 30vw;
}

#minimap_content_wrapper {
  padding: 0.5vh 0.5vw;
}

#minimap_content_wrapper svg {
  height: auto;
  width: 100%;
}

#minimap_viewport {
  background-color: rgba(131, 70, 145, 0.3);
  border: 3px solid rgb(131, 70, 145);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: move;
  display: none;
  position: absolute;
}